/* 캐릭터 이미지 정렬 */
.character-container {
    display : flex; /* 이미지 오른쪽으로 정렬 */
    flex-warp : warp;
    gap : 20px; /* 간격차이 */
    justify-content : center; /* 시작지점으로 지정 */
}

.character-image-container{
   overflow : hidden;
   position : relative;
}
.character-text {
    padding : 5px;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 투명 검은색 */
    color: white; /* 글자 색 */
    font-size: 14px;
    border-radius: 5px;
    text-align: left;
}
.character-image {
    width : 200px;
}
/* 체크 박스 진행도 체크 */
.checkbox-container {
    display : flex;
    width : 200px
}

.checkbox {
     width : 40px;
    height : 25px;
    background : white;
    border-style: solid;
    border-width: 2px;
    border-color: #e9ecef;
    transition: background-color 0.3s;
}

.checkbox.checked {
    background-color :green;
}
